<!--Slider -->
<section class="slider">
    <div id="index-banner" class="parallax-container">
        <ul class="slides">
            <li>
                <img src="backgroundpurple.png" alt="Unsplashed background img 1">
                <div class="caption left-align">
                    <h2>Medical Text Tagger</h2>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        This tagger recognizes medical terms and entities and is able to distinguish between diseases in English.
                        <br>
                        <br>
                        It also performs linking of an entity to the Unified Medical Language System (UMLS) entries.
                    </h5>
                    <a href="{{ url_for('med_tagger') }}" id="download-button"
                       class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
                </div>
            </li>

        </ul>
    </div>
</section>