<!--Slider -->
<section class="slider">
    <div id="index-banner" class="parallax-container">
        <ul class="slides">
            <li>
                <img src="backgroundpurple.png" alt="Unsplashed background img 1">
                <div class="caption left-align">
                    <h2>Text Similarity Calculator</h2>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        This text comparison can be used to find similarities in text.
                        <br>
                        <br>
                        You can imagine this function to work similar to a search. It calculate the relevance of one text for another text (i.e., one text is the query, the other one the found document with a certain relevance).
                    </h5>
                    <a href="{{ url_for('similarity') }}" id="download-button"
                       class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
                </div>
            </li>

        </ul>
    </div>
</section>