<!--Slider -->
<section class="slider">
    <div id="index-banner" class="parallax-container">
        <ul class="slides">
            <li>
                <img src="backgroundpurple.png" alt="Unsplashed background img 1">
                <div class="caption left-align">
                    <h2>Text Summarizer</h2>
                    <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                        Using different NLP libs
                    </h5>
                    <a href="{{ url_for('summarization') }}" id="download-button"
                       class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
                </div>
            </li>

        </ul>
    </div>
</section>