flask~=1.1.2
spacy>=2.2.0,<2.3.0
spacy-transformers>=0.5.1
beautifulsoup4>=                     4.7.0
bs4>=                                0.0.1
nltk>=                               3.4
sumy>=                               0.7.0
thinc>=                              6.12.1
urllib3>=                            1.24.1
gensim>=                             3.6.0
gensim-sum-ext>=                     0.1.2
Flask-Markdown>=0.3
scispacy~=0.2.4

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.2.0/de_core_news_sm-2.2.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_trf_bertbaseuncased_lg-2.2.0/en_trf_bertbaseuncased_lg-2.2.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/de_trf_bertbasecased_lg-2.2.0/de_trf_bertbasecased_lg-2.2.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_ner_bc5cdr_md-0.2.4.tar.gz
